PORT=4001
HOST=0.0.0.0

# DigitalOcean Spaces (S3-compatible)
# Team:   turinglabs
# Project: Rifai
# Bucket: growfi-media @ fra1
#
# Create a key via doctl:
#   doctl spaces keys create <key-name> --grants 'bucket=growfi-media;permission=readwrite'
DO_SPACES_REGION=fra1
DO_SPACES_BUCKET=growfi-media
DO_SPACES_ENDPOINT=https://fra1.digitaloceanspaces.com
DO_SPACES_PUBLIC_BASE=https://growfi-media.fra1.digitaloceanspaces.com
DO_SPACES_KEY=
DO_SPACES_SECRET=
